<div class="col-xs-10 col-xs-offset-1">
  <h1>About Splurty</h1>

  <p>
    Spurty was built by George Priniski, currently as student of web development with the Firehouse Project. George created Splurty as his first fully-functional application. 
  </p>

  <div class="col-xs-12 col-sm-4">
     <%= image_tag 'coconut.JPG', class: 'img-responsive' %>
  </div>
  
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">George Priniski</h2>
    <br />
    <p>
      Most resently, George Priniski co-founded and served as president of Pathfinder Health, a provider of corporate healthcare services. Prior to that, he was the COO and CFO of the Alcar Group, a provider of financial software applications. He also has experience in strategy consulting and corporate financial management. George is currently a student of Ruby on Rails web development.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />